Flags/__pycache__/China.cpython-39.pyc
Flags/__pycache__/India.cpython-39.pyc
Flags/__pycache__/Pakistan.cpython-39.pyc
Flags/__pycache__/Taiwan.cpython-39.pyc
Flags/__pycache__/Turkey.cpython-39.pyc
Flags/__pycache__/UK.cpython-39.pyc
Flags/__pycache__/USA.cpython-39.pyc
